@import "variables";

@font-face {
  font-family: "Proxima Nova";
  src: font_url('Proxima_Nova_Font.otf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Proxima Nova', serif;
  color: $text_color;
  background-color: $background;
}
