$primary: #3778c2;
$secondary: #5fb523;

$text_color: #434b54;
$text_gray: #555c68;
$text_gray_light: #86898f;
$text_gray_lighter: #989da3;
$white: #fff;

$nav_gradient_top: #3d79c2;
$nav_gradient_bottom: #3363a0;

$background: #f0f2f1;
$shadow_color: #c4c4c6;
